{% extends 'base_generic.html' %}
{% load crispy_forms_filters %}

{% block content %}

<h3 style="text-align:center">ADD OPERATION </h3>
<hr>

<form method="post">
    {% csrf_token %}

    <div class="cointainer">

        <div class="row">

            <div class="col-sm">
                {{ form.comments|as_crispy_field }}
            </div>

            <div class="col-sm mb-2 mt-4">
                {{ form.operation_name|as_crispy_field }}

                <div class=" mb-2">
                    {{ form.operation_status|as_crispy_field }}
                </div>

                <button type="submit" class="btn btn-secondary">Sign</button>

            </div>
        </div>
    </div>
</form>
{% endblock %}
